.full-bg {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
}
.px-s {
  padding-left: -12px !important;
  padding-right: -12px !important; 
}
.mx-s{
  margin-left: -36px;
  margin-right: -36px;
}